{% extends "base.html" %}
{% load static %}
{% load permission_tags i18n l10n%}

{% block 'conteudo' %}
    <main class="bg-gray-100">
        <header class="relative isolate bg-white">
            <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8">
                <div class="mx-auto flex max-w-2xl items-center justify-between gap-x-8 lg:mx-0 lg:max-w-none">
                    <div class="flex items-center gap-x-6">
                        <img src="{% static 'img/arcane.png' %}" alt="" class="h-28 bg-white">
                        <h1>
                            <div class="text-sm/6 text-green-500">RAG</div>
                            <div class="mt-1 text-base font-semibold text-green-600">Dar contexto à IA</div>
                        </h1>
                    </div>
                    <div class="flex items-center gap-x-4 sm:gap-x-6">
                        <a href="{% url 'dar_contexto_ia' %}"
                           type="button"
                           class="hidden text-sm/6 font-semibold text-green-600 sm:block hover:text-green-500">Dar contexto à IA</a>
                          <a href="{% url 'chat' %}"
                           type="button"
                           class="hidden text-sm/6 font-semibold text-green-600 sm:block hover:text-green-500">Chat</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <!-- tasks -->
                <div class="lg:col-start-3 lg:row-end-1">
                    
                    <div class="rounded-lg bg-white shadow-lg ring-1 ring-green-600/5 p-6">
                        
                      <div class="flow-root">
                          <div class="overflow-x-auto px-4 sm:px-6 lg:px-8">
                              <div class="inline-block w-full py-2 align-middle">
                                <h2 class="text-lg font-semibold text-green-600 mb-6">Tasks</h2>
                              <table class="w-full table-auto divide-y divide-green-600">
                                <thead>
                                  <tr>
                                    <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-green-600 sm:pl-3">Tarefa</th>
                                    <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-green-600">Data</th>
                                    <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-green-600">Status</th>
                                  </tr>
                                </thead>
                                <tbody class="bg-white">
                                  
                                 
                                 {% for task in tasks %}
                                        <tr class="even:bg-green-50">
                                            <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-black sm:pl-3">
                                            {{ task.name }}
                                            </td>
                                            <td class="px-3 py-4 text-sm text-center whitespace-nowrap text-gray-400">
                                            {{ task.started|default:"—" }}
                                            </td>
                                            <td class="px-3 py-4 text-sm text-center whitespace-nowrap">
                                            {% if task.success %}
                                                <span class="inline-flex items-center rounded-full bg-green-100 px-2.5 py-0.5 text-green-800 text-xs font-medium">
                                                ✅
                                                </span>
                                            {% elif task.stopped and not task.success %}
                                                <span class="inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-red-800 text-xs font-medium">
                                                ❌
                                                </span>
                                            {% endif %}
                                            </td>
                                        </tr>                                 
                                        {% endfor %}                                  
                                             
                                </tbody>
                              </table>
                            </div>
                          </div>
                      </div>
                     

                       
                    </div>
                </div>

                <!-- Upload -->
                <div class="-mx-4 px-4 py-8 bg-white shadow-lg ring-1 ring-green-600/5 sm:mx-0 sm:rounded-lg sm:px-8 lg:col-span-2 lg:row-span-2 lg:row-end-2 ">
                    <h2 class="text-lg font-semibold text-green-600 mb-6">Envio de Documentos</h2>
                    <div class="divide-y divide-green-600/10  max-w-7xl mx-auto ">
                        <form class="sm:rounded-xl md:col-span-2"
                              action="{% url 'dar_contexto_ia' %}"
                              method="POST"
                              enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="px-4 py-6 sm:p-8">
                                <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                    <div class="sm:col-span-4">
                                        <label class="block text-sm/6 font-medium text-green-600">Site</label>
                                        <div class="mt-2">
                                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-green-600">
                                                <div class="shrink-0 text-base text-green-600 select-none sm:text-sm/6">https://</div>
                                                <input type="text"
                                                       name="site"
                                                       class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-black placeholder:text-gray-400 focus:outline-none sm:text-sm/6"
                                                       placeholder="seu_site.com.br">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-full">
                                        <label for="about" class="block text-sm/6 font-medium text-green-600">Conteúdo</label>
                                        <div class="mt-2">
                                            <textarea name="conteudo"
                                                      rows="3"
                                                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-600 sm:text-sm/6"></textarea>
                                        </div>
                                        <p class="mt-3 text-sm/6 text-gray-600">Adicione aqui qualquer texto para dar um contexto melhor à IA.</p>
                                    </div>
                                    <div class="col-span-full">
                                        <label for="cover-photo" class="block text-sm/6 font-medium text-green-600">Documento</label>
                                        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-green-600/25 px-6 py-10">
                                            <div class="text-center">
                                                <svg class="mx-auto size-12 text-gray-300"
                                                     viewBox="0 0 24 24"
                                                     fill="currentColor"
                                                     aria-hidden="true"
                                                     data-slot="icon">
                                                    <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                                                </svg>
                                                <div class="mt-4 flex text-sm/6 text-gray-600">
                                                    <label class="relative cursor-pointer rounded-md bg-white font-semibold text-green-600 focus-within:ring-2 focus-within:ring-green-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-green-500">
                                                        <input name="documento" type="file">
                                                    </label>
                                                    <p class="pl-1">Envie apenas arquivos</p>
                                                </div>
                                                <p class="text-xs/5 text-gray-600">PDF, TXT até 10MB</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-end gap-x-6 border-t border-green-600/10 px-4 py-4 sm:px-8">
                                <button type="submit"
                                        class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock 'conteudo' %}
